<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <a href="http://127.0.0.1:8000/">
        <img src="{% static 'images/logo.jpg' %}" alt="logo">
    </a>
    <h1><a href="http://127.0.0.1:8000/">Plants</a></h1>
    <div class="navbar">
        <ul class="navbar_items">
            <li class="navbar_item">
                <a href="#" class="active_btn">Main</a>
            </li>
            <li class="navbar_item ">
                <a class="btn" href="#">Order</a>
                <div class="dropdown">
                    <ul class="navbar_inner">
                        <li class="navbar_inner_item">
                            <a class="btn" href="#">Fruits</a>
                        </li>
                        <li class="navbar_inner_item">
                            <a class="btn" href="#">Vegetables</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="navbar_item">
                <a class="btn" href="#">Farmers</a>
            </li>
            <li class="navbar_item">
                <a class="btn" href="#">About</a>
            </li>
        </ul>
    </div>
</header>

<section>
    <div class="card">
        <div class="card_img">
            <img src="{% static 'images/apple.png' %}" alt="apple">
        </div>
        <p>An apple is an edible fruit produced by an apple tree (Malus domestica). Apple trees are cultivated worldwide
            and are the most widely grown species in the genus Malus. The tree originated in Central Asia, where its
            wild ancestor, Malus sieversii, is still found today. Apples have been grown for thousands of years in Asia
            and Europe and were brought to North America by European colonists. Apples have religious and mythological
            significance in many cultures, including Norse, Greek, and European Christian tradition.</p>
        <a class="card_btn" href="#">Read more</a>
    </div>
    <div class="card">
        <div class="card_img">
            <img src="{% static 'images/watermelon.png' %}" alt="watermelon">
        </div>
        <p>Watermelon (Citrullus lanatus) is a flowering plant species of the Cucurbitaceae family and the name of its
            edible fruit. A scrambling and trailing vine-like plant, it is a highly cultivated fruit worldwide, with
            more than 1,000 varieties. Watermelon is grown in favorable climates from tropical to temperate regions
            worldwide for its large edible fruit, which is a berry with a hard rind and no internal divisions, and is
            botanically called a pepo. The sweet, juicy flesh is usually deep red to pink, with many black seeds...</p>
        <a class="card_btn" href="#">Read more</a>
    </div>
</section>

{% block Farmers %}

{% endblock %}

<footer>
    <p>&copy; CopyRight from nature</p>
</footer>
</body>
</html>